[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = ">=3.2.0,<3.3.0"
django-filter = "==21.1"
djangorestframework = ">=3.13.0,<3.14.0"
flake8 = ">=4.0.0, <4.1.0"
pipfile-sort = "==0.2.2"
pre-commit = "==2.17.0"
psycopg2 = ">=2.9.0, <3.0.0"
pytest = ">=7.0.0, <7.1.0"
pytest-django = ">=4.5.0, <4.6.0"
pytest-factoryboy = ">=2.1.0, <2.2.0"

[dev-packages]

[requires]
python_version = "3.8"
